.default-value-scale {
    border: 1px solid black;
    position: relative;
    margin-top: 0px;
}
.slider-line-mark {
    position: absolute;
    border: 1px solid black;
    padding-top: 8px;
}
.slider-line-block {
}
