.js-slider-min-field {
    position: absolute;
    z-index: -2;
    background-color: $default-color;
    @include def-font;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    user-select: none;
}
.js-slider-max-field {
    position: absolute;
    z-index: -2;
    background-color: $default-color;
    @include def-font;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}
.js-slider-max-field_vertical {
    transform: rotate(270deg);
}
.js-slider-min-field_vertical {
    transform: rotate(270deg);
}
