.js-slider-field {
    display: block;
    cursor: pointer;
    background: #e5e5e5;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    position: relative;
}
.js-slider-field_vertical {
    transform: rotate(0deg);
    width: 5px;
    height: 100%;
}
.js-slider-toddler {
    display: block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    //background: $default-color;
    border: 1px solid black;
    position: absolute;
}
