@import 'vars/vars';
@import './reset';

@import './container.scss';
@import './../components/ts/DefaultToddlerField/default-toddler-field.scss';
@import './../components/ts/ProgressBar/progress-bar.scss';
@import './../components/ts/ValueBanner/value-banner.scss';
@import './../components/ts/MinMaxFields/min-max-field.scss';
@import './../components/ts/ValueScale/value-scale.scss';

.hide {
    display: none;
}
.test-block1 {
    margin-top: 50px;
    margin-left: 50px;
    width: 700px;
}
.test-block2 {
    margin-top: 50px;
    margin-left: 50px;
    width: 700px;
}
#slider2 {
    height: 400px;
    width: 10px;
}
#slider1 {
    width: 521px;
}
#value1 {
    margin-top: 50px;
}
#value2 {
    margin-top: 100px;
}
#slider4 {
    height: 400px;
    width: 10px;
}
.js-container-clear {
    border-image: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    display: block;
    font-size: 0;
}
