@import 'vars/vars';
@import './reset';

@import './defaultSlider.scss';
@import './progress-bar.scss';
@import './value-banner.scss';
@import './min-max-field.scss';

.hide {
    display: none;
}
.test-block1 {
    margin-top: 150px;
    margin-left: 300px;
    width: 700px;
}
#slider1 {
    width: 400px;
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 0 #000;
    position: relative;
}
#value1 {
    margin-top: 150px;
}
