@import './vars/vars.scss';

.js-slider-min-field {
    position: absolute;
    left: 0;
    z-index: -2;
    background-color: $default-color;
    @include def-font;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    user-select: none;
}
.js-slider-max-field {
    position: absolute;
    right: 0;
    z-index: -2;
    background-color: $default-color;
    @include def-font;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}
.js-slider-max-field_vertical {
    transform: rotate(270deg);
    right: 5px;
    top: 9px;
}
.js-slider-min-field_vertical {
    transform: rotate(270deg);
    right: 9px;
    bottom: 9px;
}
